.quotation-container {
    width: 100%;
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 20px;
}
.quotation-table-quotation {
    width: 100%;
    border-collapse: collapse;
    height: 60px;
    /* border-bottom: 2px solid #000; */

}

.quotation-table-quotation tbody tr td {
    text-align: center;
}

.complete-quotation-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}

.quotation-table-products {
    width: 100%;
    padding: 0px 2%;
}
.product-container {
    width: 100%;
    border-collapse: collapse;
    /* background-color: antiquewhite; */
    background-color: #fff;
    border: 1px solid #999 radius(10px);
    margin-top: 5px;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    /* border-bottom: 1px solid #999; */
}
.product-container thead {
    height: 22px;
    vertical-align: bottom;

}
.product-header-row{
    vertical-align: top;
    border-bottom: 1px solid #999;
}
.product-container thead th{
    font-size: 0.9em;
    font-weight: 500;
}
.product-container tbody tr {
    
}
.product-container tbody tr td {
    padding: 0px 10px;
    font-size: 0.9em;
    text-align: center;
}

.quotation-table-processes{
    border-radius: 5px;
    /* background-color: #ddd; */
    background-color: #fff;
    width: 96%;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 5px;
}
.quotation-table-processes thead {
    background-color: #eee;
    height: 22px;
}
.quotation-table-processes th {
    font-size: 1em;
    font-weight: normal;

}

.quotation-table-processes tbody tr {
    height: 25px;
}

.pesos-price{
    font-size: 1.6em;
    font-weight: bold
}

input {
    background-color: #fff;
    border: 1px solid #ddd;
    color: black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}


.input-number{
    text-align: end;
    width: 85px
}
.input-number-days {
    text-align: center;
    width: 55px;
}
ul {
    margin: 0px;
}

.quotation-buttons-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    padding: 0px 20px;
    margin: 20px auto;
    padding-top: 20px;
    border-top:  #000 2px solid
}