/* Estilo general del formulario */
.user-form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-form-container h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para los campos de entrada */
.form-group label {
    margin-top: 10px;
    display: inline;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 3px 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-bottom 0.3s ease-in-out;
}
.error-message{
    color: red
}


.form-group input:focus {
    outline: none;
    border-bottom: 2px solid #007bff;
}

/* Botón de acción */
.form-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;
    font-size: 1rem;
}



