.detailedSupplier {
    max-width: 900px;
    margin: 5px auto;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailedSupplier h2 {
    text-align: center;
    font-size: 1.6rem;
    color: #333;
}

/* Estilos para los campos de entrada */
.supplierInfo p {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0px;
}

.supplierInfo span {
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
    width: 150px;
    color: #555;
}

.supplierInfo input {
    width: 100%;
    padding: 3px 6px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.supplierInfo textarea {
    font-family: roboto;
    padding: 3px 6px;
    height: 4rem;
    width: 100%;
    overflow: auto;
    resize: vertical;
}

/* Contacts table */
.contacts-table-border {
    margin-top: 5px;
    padding: 5px;
    border: #555 1px solid;
    border-radius: 10px;
}
.contacts-table {
    border-collapse: collapse;
    width: 100%;
    /* margin: auto; */
}
.contacts-table-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.contacts-table thead {
    border-bottom: #888 1px solid;
}

.contacts-table-th {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.contacts-table tbody tr input {
    font-size: 0.9rem;
    font-weight: 400;
}


/* Botón de acción */
.supplierActions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.supplierActions button {
    padding: 10px 20px;
    font-size: .9rem;
}