h2, h3 {
    text-align: center;
    margin: 10px
}

.payment-table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

tr {
    height: 33px;
    /* border-bottom: 1px solid black; */
    font-size: 1em;
}



tfoot {
    height: 50px;
}

.payment-element td {
    padding-left: 10px;
}