.job-container {
    width: 100%;
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 20px;
}
.job-container ul{
    font-size: 0.8em;
}
.job-table-job {
    width: 100%;
    border-collapse: collapse;
    height: 60px;;
}

.job-table-job tbody tr td {
    text-align: center;
}

.complete-job-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3em;
}

.job-table-products {
    width: 100%;
    padding: 0px 2%;
}
.job-product-container {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #999 radius(10px);
    margin-top: 5px;
    border-radius: 10px;
}
.job-product-container thead {
    height: 22px;
    vertical-align: bottom;

}
.job-product-header-row{
    vertical-align: top;
    border-bottom: 1px solid #999;
}
.job-product-container thead th{
    font-size: 0.9em;
    font-weight: 500;
}

.job-product-container tbody tr td {
    padding: 0px 10px;
    font-size: 0.9em;
    text-align: center;
}
.job-product-action-buttons {
    display: flex;
    justify-content: space-around;
}

.job-pesos-price{
    font-size: 1.6em;
    font-weight: bold;
}
.job-percentage-utility{
    font-size: 1.1em;
    font-weight: bold;
}

input {
    background-color: #fff;
    border: 1px solid #ddd;
    color: black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}


.job-input-number{
    text-align: end;
    width: 85px
}
.job-input-number-days {
    text-align: center;
    width: 55px;
}
ul {
    margin: 0px;
    list-style: none;
    
}

.job-buttons-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    padding: 0px 20px;
    margin: 20px auto;
    padding-top: 20px;
    border-top:  #000 2px solid
}

.invoices-subtable {
    width: 96%;
    border-collapse: collapse;
    margin: auto;
}

.invoice-head {
    display: grid;
    grid-template-columns: auto auto;
}

.invoice-row {
    display: grid;
    grid-template-columns: 4% 16% 10% 16% 4% 50%;
    padding: 5px;
    /* background-color: #fff; */
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.collections-subtable{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.collection-row {
    display: grid;
    margin: 3px 0px;
    grid-template-columns: 8% 32% 20% 32% 8%;
}
