.images-row {
    padding: 5px;

}
.images-row h4 {
    text-align: center;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
}

.images-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2%;
    line-height: normal;
}
.images-list span {
    font-size: 0.8em;
}

.images-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.files-button-container {
    display: flex;
    justify-content: center;
}



