.images-row {
    padding: 5px;

}

.images-row h4 {
    text-align: center;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
}

.images-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2%;
    line-height: normal;
}

.image-item {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.images-list span {
    font-size: 0.8em;
}

.images-section {
    margin: 0px 20px;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

.files-button-container {
    display: flex;
    justify-content: center;
}

.job-notes-input {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}