.customers-header {
    display: grid;
    position: fixed;
    width: 100%;
    grid-template-columns: 15% 70% 15%;
    justify-items: center;
    background-color: #bbb;
    padding: 10px;
}

.customers-table {
    margin-top: 56px ;
    border-collapse: collapse;
}

.customers-table-header {
    position: sticky;
    top: 116px;
    background-color: #bbb;
    height: 30px;
    font-weight: bold;
}

.customers-table-body {
    background-color: #ffffff;
}

.customers-table-body tr {
    font-size: smaller;
    height: 30px;
}

.customers-table td:nth-child(1) { 
    width: 5%; 
    text-align: center;
}
.customers-table td:nth-child(2) { width: 28%; }
.customers-table td:nth-child(3) { width: 10%; }
.customers-table td:nth-child(4) { width: 7%; }
.customers-table td:nth-child(5) { width: 10%; }
.customers-table td:nth-child(6) { width: 20%; }