.customers-header {
    display: grid;
    position: fixed;
    background-color: #eee;
    width: 100%;
    grid-template-columns: 15% 70% 15%;
    align-content: center;
    align-items: center;
    height: 46px;
}
.customers-header h2{
    text-align: center;
    margin: 0;
}

.customers-table {
    margin-top: 46px ;
    margin-bottom: 41px;
    border-collapse: collapse;
}

.customers-table-header {
    position: sticky;
    top: 116px;
    background-color: #bbb;
    height: 30px;
    font-weight: bold;
}

.customers-table-body {
    background-color: #ffffff;
}

.customers-table-body tr {
    font-size: smaller;
    height: 30px;
}

.customers-table td:nth-child(1) { 
    width: 5%; 
    text-align: center;
}
.customers-table td:nth-child(2) { width: 28%; }
.customers-table td:nth-child(3) { width: 10%; }
.customers-table td:nth-child(4) { width: 7%; }
.customers-table td:nth-child(5) { width: 10%; }
.customers-table td:nth-child(6) { width: 20%; }

.customers-search {
    margin: 7px 0px 7px 30px;
    font-size: 1em;
}

.footer {
    display: grid;
    grid-template-columns: 10% 80% 10% ;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    text-align: center;
    padding: 7px 3%;
    font-size: 14px;
}