.process-invoices-subtable {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    height: auto;
}

.process-invoice-row {
    display: grid;
    grid-template-columns: 4% 5% 15% 10% 15% 5% 50%;
    padding: 5px;
    background-color: #fff;
    /* border: 1px solid #000; */
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* .collections-subtable{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.collection-row {
    display: grid;
    grid-template-columns: 8% 32% 20% 32% 8%;
} */