.sticky {
    position: sticky;
    top: 0;
    padding: 1px;
    background-color: #fff ;
    
}
.navbar-container h3 {
    margin: 0px;
}
.navbar-container {
    display: grid;
    grid-template-columns: 210px 1fr 180px;
    justify-items: center;
    align-items: center;
    height: 70px;
    padding: 4px 10px;
    border-bottom: 1px solid #ddd;
}
.navbar-content {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 30px 30px;
    gap: 4px;
}
.navbar-dolar {
    align-items: center;
}
.navbar-user-info {
    display: grid;
    grid-template-columns: 1fr 90px 90px 90px;
    justify-items: center;
}
.navbar-menu {
    display: flex;
    gap: 40px;
}
.navbar-menu h4 {
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
}

.navbar-logo-link{
    align-self: center;
}
.navbar-isologo {
    width: 185px;
    height: 26.5px;
};
.navbar-isologo:hover {
    cursor: pointer;
}