* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: roboto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0,0,0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style: none;
  font-size: 0.8em;
}




a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
