.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* oscurece el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* asegura que quede arriba del grid */
}



.image-link-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.image-link-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.image-link-form-buttons {
    display: flex;
    justify-content: space-around;
}