.icon-button {
    cursor: pointer;
    background-color: #999;
    border-radius: 6px;
    padding-block-end: 2px;
    padding-block-start: 6px;
    padding-inline-end: 7px;
    padding-inline-start: 7px;
}

img {
    width: 18px;
    height: 18px;
}

.button:hover {
    opacity: 0.1;
}
